.list-group {
    background-color: #89d3de;
    padding-top: 20px;
}

.media {
    border: 2px solid black;
    padding: 20px;
}

.mbr-section-title {
    border: 0.5rem solid black;
}

.mynav {
    font-size: 2rem;
    font-weight: bolder;
    background-color: reds;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}


/*------------------------------------------------------css for new menu begins here--------------------------------------------*/

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
}

.stlogo img {
    float: left;
    width: 30%;
    margin-left: -80px;
    padding: 8px 0px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}

nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

nav ul li a:hover {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}

nav ul li a:active {
    background: #e2472f;
    color: #fff;
    border-radius: 6px;
}

.frontcontainer {
    width: 100%;
    height: 100vh;
    background-image: url(front_1.2.jpg);
    background-size: cover;
    background-position: center;
}

.front {
    height: 100%;
    width: 100%;
}


/*------------------------------------------------------------------css for new menu ends here-------------------------------------------------------*/

.outline {
    border: solid black 4px;
    background-image: url(IMG/background.jfif);
}

.carousel-inner {
    width: 100%;
    max-height: 20rem !important;
}

.carousel img {
    height: 25rem;
    width: 100%;
}

#article {
    background-color: burlywood;
}

.img {
    border-right: 2px solid black;
}

span {
    font-style: normal;
    font-weight: bold;
}

.card-text-white {
    font-size: 20px;
}

body {
    background-image: url(https://images.unsplash.com/photo-1547623641-d2c56c03e2a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
    background-attachment: fixed;
    background-size: cover;
}

.blog {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.new {
    border: 8 px solid rgb(30, 148, 202);
    border-radius: 2px;
}


/* from here it's css for hovering effects on cards*/

.back {
    background-color: #ffffff;
    /* background-image: url('https://images.unsplash.com/photo-1521729839347-131a32f9abcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');  */
    background-repeat: no-repeat;
    background-size: cover;
}

.img-rounded {
    border-radius: 10px;
}

.bkcolor {
    background-image: url(back1.jpg);
}

.row.articles_row {
    padding-left: 30px;
    /* margin-top:-30px;*/
    display: flex;
    position: relative;
    justify-content: space-around;
}

.row.articles_row2 {
    margin-top: -75px;
}


/* .articles_img{
  border-radius: 00px;
  } */

.container .row .both .face {
    width: 300px;
    height: 200px;
    transition: 0.8s;
}

.container .row .both .face.trans {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8dadc;
    z-index: 1;
    transform: translateY(100px);
}

.container .row .both .face.sub_trans {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100px);
}

.container .row .both:hover .face.trans {
    transform: translateY(0);
}

.container .row .both:hover .face.sub_trans {
    transform: translateY(0px);
}


/*------------------------------------------------------css for new menu begins here--------------------------------------------*/

nav .fa {
    display: none;
}

@media screen and (max-width:772px) {
    .stlogo img {
        width: 50%;
        margin-top: 10px;
        margin-left: -80px;
        padding: 0;
    }
    .fa-bars {
        position: absolute;
        right: 10px;
        top: 30px;
        z-index: 5;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links {
        display: none;
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: 0;
        position: absolute;
        text-align: left;
        z-index: 2;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links ul {
        position: absolute;
        top: 0;
        left: 0px;
        padding-top: 50px;
        display: block;
    }
    .nav-links ul li {
        padding: 0;
        margin: 0;
    }
    .frontcontainer {
        width: 100%;
        height: 100vh;
        background-image: url(mobile_front.jpg);
        background-size: cover;
        background-position: center;
    }
}


/*------------------------------------------------------------------css for new menu ends here-------------------------------------------------------*/

@media screen and (max-width: 1000px) {
    .container .row .both {
        display: block;
        transition: 0.8s;
    }
    .colu {
        padding-top: 50px;
    }
    .row.articles_row {
        margin-left: -30px;
    }
    .row.articles_row2 {
        margin-top: 70px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
    }
    .container .row .both .face.trans {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #a8dadc;
        transform: translateY(0px);
    }
    .container .row .both .face.sub_trans {
        margin-top: -14px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(0px);
    }
}
