

.list-group{
    background-color:#89d3de;
    padding-top:20px;
   }

 .media{
 	border:2px solid black;
 	padding:20px;
 }
 
  
.mbr-section-title{
	border:0.5rem solid black;
}

.mynav{
  font-size:2rem;
  font-weight: bolder;
  background-color: reds;

}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.outline{
  border:solid black 4px;
  background-image: url(img/background.jfif);

}

.carousel-inner{
  width:100%;
  max-height:20rem !important;
}
.carousel img{
  height:25rem;
  width:100%;
}



#article{
  background-color: burlywood;
}

.img{
  border-right: 2px solid black;
 
}

span{
  font-style:normal;
  font-weight: bold;
}
.card-text-white{
  font-size: 20px;
}

body{
  background-image: url(https://images.unsplash.com/photo-1547623641-d2c56c03e2a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
  background-attachment: fixed;
  background-size: cover;
}



.blog{
  
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 .new {
  border: 8 px solid rgb(30, 148, 202);
  border-radius: 2px;
}
